.principal,
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*
  Colores de fondo del body
*/
.enojado {
  background-color: red;
}

.tranquilo {
  background-color: aqua;
}

.feliz {
  background-color: yellow;
}

.triste {
  background-color: blue;
}

/*
  Colores de fondo de la seccion
*/
.enojado-s {
  background-color: rgb(233, 73, 73);
}

.feliz-s {
  background-color: rgb(179, 179, 48);
}
.img2{
    width: 100px;
    height: 100px;
}
.img1{
    width: 200px;
    height: 200px;
}

